.sig-container::ng-deep {
    .delete {
        margin-top: 5px;
        margin-bottom: 30px;

        .p-dropdown {
            width: 100%;
        }
    }

    .addDialog .p-dialog {
        width: 80%;
    }

}