<rbn-dialog-loader [loading]="isInprocess"></rbn-dialog-loader>
<div class="container">
  <p-dialog class="rbn-dialog main-dialog" [draggable]="false" [resizable]="false" [header]="header | translate"
    [(visible)]="showDialog" [modal]="true" (onHide)="closeDialog()" id="dialog">
    <div [formGroup]="mainForm">
      <app-gateway-information [showDialog]="showDialog" [gatewayOptions]="gatewayOptions"
        [pep_alg_radioValue]="pep_alg_radioValue" (multisiteSelection)="multisiteSelection($event)"
        (signalingGateway)="signalingGateway($event)" (TGRPPanel)="TGRPPanel($event)" (GRPanel)="GRPanel($event)"
        (SignalProtocols)="SignalProtocols($event)" (LGRPPanel)="LGRPLocationPanel($event)"
        (gwcBackupPanel)="gwcBackupPanel($event)" (PEPServerALG)="PEPServerALGPanel($event)"
        (maxEndpoints)="maxEndpoint($event)"></app-gateway-information>
      <app-tgrp *ngIf="showTGRPPanel"></app-tgrp>
      <app-lgrp-location *ngIf="showLGRPLocationPanel" [endpointNumber]="endpointNumber"></app-lgrp-location>
      <app-multi-site *ngIf="multiSiteSelection" [siteName]="gatewayOptions.siteName" [maxEndpoints]="maxEndpoints"
        (siteNames)="siteNames($event)"></app-multi-site>
      <app-gwc-backup *ngIf="showGwcBackup"></app-gwc-backup>
      <app-signalling-gateway *ngIf="showSignalingGatewayPanel"></app-signalling-gateway>
      <app-pepserver-alg *ngIf="showPEPServerALG" (pep_alg_radio)="pep_alg_radio($event)"></app-pepserver-alg>
      <app-gr-gateway-info *ngIf="showGRPanel"></app-gr-gateway-info>
      <app-signal-protocol [signalProtocols]="signalProtocols"></app-signal-protocol>
    </div>
    <app-form-footer [disablePrimaryBtn]="disableSubmit" (eventSubmit)="onAssociateFormSubmit($event)"
      [secondaryLabel]="'COMMON.CANCEL' | translate" [primaryLabel]="'COMMON.SAVE' | translate"></app-form-footer>
  </p-dialog>

</div>

<p-dialog class="rbn-dialog" [header]="'GATEWAY_CONTROLLERS.ASSOCIATE_MEDIA_GW.LABEL.ASSOCIATE_MG' | translate"
  [(visible)]="showAddErrorDialog" [modal]="true" (onHide)="closeAddErrorDialog()" id="errorDialog" [draggable]="false"
  [resizable]="false">
  <div class="error-dialog-container p-grid p-field p-col-12">
    <i class="pi pi-times-circle iconStyle"></i>
    <div class="message-text-container">{{messageText}}</div>
  </div>
  <div class="error-dialog-buttons p-grid p-col-12">
    <div class="btn">
      <p-button type="button" styleClass="rbn-button rbn-button-tertiary" (onClick)="closeAddErrorDialog()"
        [label]="'COMMON.OK' | translate"></p-button>
    </div>
    <div class="btn">
      <p-button type="button" styleClass="rbn-button rbn-button-secondary" (onClick)="showOrHideButtonClick()"
        [label]="'COMMON.' + (showDetailsBtn ? 'SHOW_DETAILS' : 'HIDE_DETAILS') | translate"></p-button>
    </div>
  </div>
  <div *ngIf="!showDetailsBtn">
    <div [innerHTML]="detailsText | safe: 'html'" class="details-text-area-container "></div>
  </div>
</p-dialog>

<rbn-confirm-dialog *ngIf="confirmDialog.isShowConfirmDialog" [title]="confirmDialog.title"
  [content]="confirmDialog.content" [isShowConfirmDialog]="confirmDialog.isShowConfirmDialog"
  (emitConfirm)="genbandConfirmDialogEvent($event)"></rbn-confirm-dialog>

<!-- CAC Zero Confirm -->
<rbn-confirm-dialog *ngIf="confirmCAC.isShowConfirmDialog" [title]="confirmCAC.title" [content]="confirmCAC.content"
  [isShowConfirmDialog]="confirmCAC.isShowConfirmDialog" (emitConfirm)="confirmCAC.handleAccept.bind(this)($event)"
  [titleAccept]="confirmCAC.titleAccept" [titleReject]="confirmCAC.titleReject"></rbn-confirm-dialog>

  <rbn-confirm-dialog id="success-dialog" [hideReject]="true" *ngIf="successConfirm.isShowConfirmDialog" [title]="successConfirm.title"
  [content]="successConfirm.content" [isShowConfirmDialog]="successConfirm.isShowConfirmDialog" [titleAccept]="'COMMON.OK' | translate"
  (emitConfirm)="successAssociateConfirm()"></rbn-confirm-dialog>