@import "ribbontheme/variables";

:host ::ng-deep {
  .button-top {
    display: flex;
    justify-content: flex-end;
  }

  .p-accordion {
    margin-bottom: 10px;
    margin-top: 10px;
  }

  .p-accordion-toggle-icon {
    display: none;
  }

  .p-accordion-header-link {
    justify-content: space-between;
  }

  .custom-icon {
    margin-right: 8px;
  }

  #p-accordiontab-0-content>div>div {
    justify-content: center;
    display: flex;
  }

  .p-accordion-header-text {
    display: none;
  }

  .btn .rbn-button.p-button {
    border-radius: 5px;
    margin-left: 10px;
  }

  .bold {
    font-weight: 600;
    font-size: 13px;
  }

  .invalid-input{
    border-color: $ribbon-dark-red;
  }

  #drop-down.ng-invalid:not(form) > div {
    border: 1px solid $ribbon-dark-red;
  }

  #drop-down.ng-invalid.ng-touched.ui-inputwrapper-focus:not(form) > div {
          box-shadow: 0 0 0 0.05em $ribbon-dark-red;
           border: 1px solid $ribbon-dark-red;
           border-radius: 2px;
  }

  #drop-down.ng-invalid.ng-untouched.ui-inputwrapper-focus:not(form) > div {
       box-shadow: 0 0 0 0.05em $ribbon-dark-red;
       border: 1px solid $ribbon-dark-red;
       border-radius: 2px;
  }

  // add carrier
  .p-dialog {
    width: 60%;
  }

  .p-panel-content {
    display: flex;
    justify-content: center;
    padding: 0 !important;
  }

  .table-container{
    display: flex;
    justify-content: center;
    padding-top: 15px !important;
    padding-bottom: 7px !important;
  }

  .content-header {
    color: $ribbon-dark-grey;
    font-size: 13px;
    font-weight: 600
  }

  .content-detail {
    color: $ribbon-dark-grey;
    font-size: 14px;
    font-weight: 400;
  }

  .italic-placeholder::placeholder {
    font-style: italic;
  }

  .label-text {
    font-size: 14px;
    font-weight: 400;
  }

  .boldAndItalic {
    font-weight: bold;
    font-style: italic;
  }

  .search-icon .pi-search:before {
    display: none;
  }

  .dialog-width{
    .p-dialog{
      width: auto !important;
    }
  }

  // show/hide error popup
  .error-dialog-cont {
    .p-dialog {
      width: auto;
    }
  }

  #errorDialog .p-dialog-content {
    overflow-y: unset;
  }

  .form-footer {
    padding: 0.5rem;
    justify-content: end;
    align-items: center;

    .btn .rbn-button.p-button {
      border-radius: 5px;
      margin-left: 10px;
    }
  }

  .error-dialog-container {
    display: flex;
    flex-direction: row;

    .iconStyle {
      color: $ribbon-dark-red;
      margin-top: 4px;
    }
  }

  .error-dialog-buttons {
    padding: 0.5rem;
    justify-content: end;
    align-items: center;
    margin: 10px;

    .btn .rbn-button.p-button {
      border-radius: 5px;
      margin-left: 2px;
      margin-right: 8px;
    }
  }

  .message-text-container {
    font-weight: unset;
    color: $ribbon-dark-grey;
    margin-left: 10px;
  }

  .details-text-area-container {
    height: 135px;
    width: calc(500px - 2rem);
    resize: both;
    max-width: inherit;
    overflow: scroll;
    color: $ribbon-dark-grey;
    white-space: nowrap;
    border-top: 10px solid transparent;
    border-left: 10px solid transparent;
    border-bottom: 5px solid transparent;
    border-right: 5px solid transparent;
    outline: 1px solid $ribbon-light-grey;
    border-radius: 2px;
  }

  .showDetailsBtn {
    margin-left: 5px;
  }
}
