<rbn-dialog-loader [loading]="isLoading"></rbn-dialog-loader>
<div class="button-top">
  <p-button [label]="'NETWORK.QOS_COLLECTORS.NEW_QOS_COLLECTOR' | translate"
    styleClass="rbn-button rbn-button-secondary" icon="fas fa-plus" (onClick)="addNewQoSCollectorBtn()"></p-button>
</div>
<rbn-table #rbnTable [allowSetDataToStorage]="false" [showFilterRow]="false" [cols]="cols" [data]="data" [tableConfig]="tableConfig" (refreshData)="refreshTable()">
</rbn-table>

<p-dialog class="rbn-dialog" [header]="'NETWORK.QOS_COLLECTORS.ADD_QOS_COLLECTOR' | translate" [(visible)]="showAddDialog"
  [modal]="true" id="dialog" (onHide)="closeAddDialogAndDeleteFormValue()">
  <div class="qos-collectors-container" [formGroup]="addQosCollectorFormGroup">
    <div class="p-grid p-pl-2">
      <div class="rbn-group p-col-6 p-field rbn-field">
        <label for="qosName">{{ "NETWORK.QOS_COLLECTORS.QOS_COLLECTOR_NAME" | translate }}:</label>
        <input id="qosColName" formControlName="qosName" type="text" pInputText required />
      </div>
      <div class="rbn-group p-col-6 p-field rbn-field">
        <label for="ipAddress">{{ "NETWORK.QOS_COLLECTORS.IP_ADDRESS" | translate }}:</label>
        <input [class.invalid-input]="getIpAddress?.invalid && getIpAddress?.touched" formControlName="ipAddress" type="text"
          [pTooltip]="'NETWORK.QOS_COLLECTORS.IP_ADDRESS_INFO' | translate" tooltipPosition="bottom" pInputText required />
      </div>
    </div>
    <div class="rbn-group p-mb-5 p-col-6 p-field rbn-field">
      <label for="port">{{"NETWORK.QOS_COLLECTORS.PORT" | translate }}:</label>
      <input [class.invalid-input]="getPort?.invalid && getPort?.touched" formControlName="port" type="text"
        [pTooltip]="'NETWORK.QOS_COLLECTORS.PORT_INFO' | translate" tooltipPosition="bottom" pInputText required />
    </div>
    <app-form-footer [secondaryLabel]="'COMMON.CANCEL' | translate" [primaryLabel]="'COMMON.ADD' | translate" [disablePrimaryBtn]="!addQosCollectorFormGroup.valid"
      (eventSubmit)="addQosCollectorFormFooterHandler($event)">
    </app-form-footer> 
  </div>
</p-dialog>

<p-dialog class="rbn-dialog" [header]="'NETWORK.QOS_COLLECTORS.DELETE_QOS_COLLECTOR' | translate" [(visible)]="showDeleteDialog"
  [modal]="true" (onHide)="closeDeleteDialogAndDeleteSelectedData()" id="deleteDialog">
  <div class="p-col-12 p-mb-3">
    <label>
      {{ 'NETWORK.QOS_COLLECTORS.DELETE_DIALOG_MESSAGE' | translate }}
      <span class="boldAndItalic">"{{ deleteSelectedData.qosName }}"</span>
      {{ 'NETWORK.QOS_COLLECTORS.ON_PORT' | translate }}
      <span class="boldAndItalic">"{{ deleteSelectedData.port }}"</span>
      {{"?"}}
    </label>
  </div>
  <app-form-footer [secondaryLabel]="'COMMON.NO' | translate" [primaryLabel]="'COMMON.YES' | translate"
    (eventSubmit)="deleteDialogFooterHandler($event)">
  </app-form-footer>
</p-dialog>

<p-dialog class="rbn-dialog" [header]="'COMMON.ACTION_FAILED' | translate" [(visible)]="showErrorDialog"
  [modal]="true" (onHide)="closeErrorDialog()" id="errorDialog" [draggable]="false" [resizable]="false">
  <div class="error-dialog-container p-grid p-field p-col-12">
    <i class="pi pi-times-circle iconStyle"></i>
    <div class="message-text-container" [innerHTML]="messageText | safe: 'html'" ></div>
  </div>
  <div class="error-dialog-buttons p-grid p-col-12">
    <div class="btn">
      <p-button type="button" styleClass="rbn-button rbn-button-tertiary" (onClick)="closeErrorDialog()"
        [label]="'COMMON.OK' | translate"></p-button>
    </div>
    <div class="btn">
      <p-button type="button" styleClass="rbn-button rbn-button-secondary" (onClick)="showOrHideButtonClick()"
        [label]= "'COMMON.' + (showDetailsBtn ? 'SHOW_DETAILS' : 'HIDE_DETAILS') | translate"></p-button>
    </div>
  </div>
  <div *ngIf="!showDetailsBtn">
    <div [innerHTML]="detailsText | safe: 'html'" class="details-text-area-container "></div>
  </div>
</p-dialog>